.filter {
    background-color: lightblue;
    width: 65%;
    padding: 4% 0;
    font-weight: 700;
    font-size: 18px;
    color: indigo;
}
.filter:hover {
    box-shadow: -5px 8px steelblue;
    text-shadow: 2px 2px 4px thistle;
}
.filter:active {
    transform: scale(0.8, 0.8);
}
.filter_list {
    width: 65%;
    border: 2px solid lightblue;
}
.p {
    padding-left: 5.5%;
}
.p_card {
   width: 20rem; 
   margin-right: 2%; 
   margin-top: 2%;
}
.p_name {
    font-size: 22px;
    font-weight: 700;
    color: orchid;
}
.p_price {
    color: dimgray;
    font-size: 16px;
}
.p_brand {
    color: darkmagenta;
    font-size: 18px;
    font-weight: 700;
}
.img_wrapper {
    height: 420px; 
    display:flex; 
    justify-content: center;
    align-items: center;
}
.product_label{
    position: relative;
    float: right;
    left: 8px;
    top: 189px;
    z-index: 9;
}
.product_btn {
    position: relative;
    float: right;
    top: 180px;
    right: 10px;
    z-index: 19;
    text-decoration: none;
    opacity: 0;
}
.cartbtn {
    padding-right: 6%;
    background-color: mediumpurple;
    color: white;
    font-weight: 600;
}
.filbtn{
    background-color: lightsalmon;
    color: white;
    font-weight: 600;
    border: none;
    width: 6%;
    border-radius: 10%;
    padding: 0.5% 1%;
}
.filbtn:hover {
    box-shadow: -5px 5px firebrick;
    text-shadow: 2px 2px 4px yellow;
}
.applied_filters{
    display: flex;
    color: firebrick;
    font-size: 16px;
    font-weight: 600;
    border: 3px dashed indianred;
    border-radius: 10%;
    margin-right: 3%;
    padding: 0.4% 4%;
}