{% extends "base.html" %}
{% load static %}

{% block css %}
<link href="static/main.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
{% load cart %}
    <div id="fragrance_carousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner fragrance">
            <div class="carousel-item active">
                <img src="{% static '/carousel1.jpg' %}" class="d-block w-100 c_img" alt="..." >
            </div>
            <div class="carousel-item">
                <img src="{% static '/carousel2.jpg' %}" class="d-block w-100 c_img" alt="..." >
            </div>
            <div class="carousel-item">
                <img src="{% static '/carousel3.jpg' %}" class="d-block w-100 c_img" alt="...">
            </div>
            <div class="carousel-item">
                <img src="{% static '/carousel4.jpg' %}" class="d-block w-100 c_img" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#fragrance_carousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#fragrance_carousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        </button>
    </div>
    <br>
    <p class="p"><a class="p_link" href="/index">See All Products</a></p>
    <br>
<div id="carouselExampleControls" class="carousel slide" data-interval="false">
        <div class="carousel-inner prd_carousel" style="padding-left: 2.6%;">
            {% for p in prds %}
                <div class="carousel-item item active">
                    <div class="card " style="width:16rem;">
                        <div style="height: 305px;">
                            <img class="card-img-top" style="max-height: 100%;" src="{{p.image.url}}" alt="Card Image" style="float:left">
                            <p class="product_label"><i class="fas fa-compress-alt fa-lg"></i></p>
                      `     <a class="product_btn" href="/products?product_id={{p.id}}">o</a>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">{{p.name}}</h5>
                            <p class="card-text">{{p.price|currency}}</p>
                            {% if p.rating != 0 %}
                            {% for i in p.rating|loop_counter %}
                                <i class="fas fa-star" style="color:rgb(255, 234, 0);"></i>
                            {% endfor %}
                            {% else %}
                                {% for i in 5|loop_counter %}
                                    <i class="fas fa-star"></i>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
          </div>
        <button class="carousel-control-prev" onclick="my_prev()" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        </button>
        <button class="carousel-control-next" onclick="my_next()" type="button" data-bs-target="#carouselExampleControls" data-bs-slide=""00 >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
        </button>
    </div>
    <br>
    <div class="container-fluid brand">
        <p class="b">Brands Available</p>
        <div class="row justify-content-md-center">
            {% for b in brands %}
                <div class="col-3 brand_cir">
                    <div class="b_edit">
                        <img
                            src="{{b.image.url}}"
                            class="img_edit">
                        <p class="content">{{b.brand_name}}</p>
                        <form action="/index" method="POST">
                            {% csrf_token %}
                            <input hidden value="{{b.brand_name}}" name="brands">
                            <input type="submit" class="brand_cir_btn" style="opacity:0;">
                        </form>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
        
    <div class="container-fluid brand">
        <p class="celeb">EXCLUSIVE Celebrity Scents 4 YOUU!!! -> SEE ALL</p>
        <div class="row justify-content-md-center">
            {% for c_b in celeb_brand %}
                <div class="col-3 brand_cir">
                    <div class="b_edit">
                        <img
                            src="{{c_b.image.url}}"
                            class="img_edit">
                        <p class="content">{{c_b.brand_name}}</p>
                        <form action="/index" method="POST">
                            {% csrf_token %}
                            <input hidden value="{{c_b.brand_name}}" name="brands">
                            <input type="submit" class="brand_cir_btn"  style="opacity:0;">
                        </form>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        var pos = 0;
        var carousel_width = document.getElementsByClassName("prd_carousel")[0].scrollWidth;
        var carouselitem_width = JSON.parse(carousel_width) / 9
        //to calculate the width of one carousel item. thie is not used because the result was in px units
        /*var ele = document.getElementsByClassName("item")[0];
            properties = window.getComputedStyle(ele, null);
            var carouselitem_width = properties.width;
            var pos = 0;*/  

        function my_next() {   
            if (pos < parseInt(carousel_width - carouselitem_width*4)) {
                pos += carouselitem_width;
                var move = document.getElementsByClassName("prd_carousel")[0]
                move.scrollTo({top: 0,
                                left: pos,
                                behavior: 'smooth'});
            }
        }

        function my_prev() {
            if (pos > 0) {
                pos -= carouselitem_width
                console.log(pos)
                var move = document.getElementsByClassName("prd_carousel")[0]
                move.scrollTo( {top: 0,
                                left: pos,
                                behavior: 'smooth'});
            }
        }
    </script>
{% endblock %}